[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/smartfrog/psxrecomp.git
	branch = master
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/OpokXeno/recomp-ui.git
	branch = xenogears-pinned
